<div class="form-froup row">

    <label class="col-sm-2 col-form-label"> Id del punto di interesse</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentPoint.idPuntiDiInteresse"
        placeholder="Inserisci il numero id del punto di interesse che vuoi modificare" readonly>
    </div>
    
    
    <label class="col-sm-2 col-form-label"> Nome</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentPoint.NomePunto"
        placeholder="Inserisci il nome del punto di interesse che vuoi modificare" maxlength="45">
    </div>


    <label class="col-sm-2 col-form-label"> Descrizione </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentPoint.DescrizionePunto"
        placeholder="Inserisci la descrizione del punto di interesse che vuoi modificare" maxlength="200">
    </div>
    

    <label class="col-sm-2 col-form-label"> Riferimento area</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentPoint.Aree_idAree"
        placeholder="Inserisci il rifereimento all'area del punto di interesse che vuoi modificare">
    </div>



  

    <button (click)="UpdatePoint()" class="btn btn-outline-primary">Modifica</button>
    </div>
    