<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
            <label for="nome_area">Nome area</label>
            <input
            type="text"
            class="form-control"
            id="nome_area"
            required
            [(ngModel)]="area.NomeArea"
            name="nome_area"
            maxlength="45"
            #nome_ref/>
            </div>
  
            <div class="form-group">
            <label for="descrizione">Descrizione</label>
            <input
                type="text"
                class="form-control"
                id="descrizione"
                [(ngModel)]="area.Descrizione"
                name="descrizione"
                maxlength="200"
            />
            </div>

            <div class="form-group">
                <label for="teatri">Riferimento al teatro</label>
                <input
                type="text"
                class="form-control"
                id="teatri"
                required
                [(ngModel)]="area.Teatri_idTeatro"
                name="teatri"
                #teatri_ref/>
            </div>

        


            <div style="text-align:center">
                <button (click)="saveArea(nome_ref.value,teatri_ref.value)">
            <i class="fas fa-edit"></i> Aggiungi area
            </button>
        </div>
    </div>
      <div *ngIf="submitted">
        <h4>L'area è stata inserita con successo!</h4>
      </div>
    </div>
  </div>