<div>
    <div class="submit-form">
        <div class="form-group">
            <h4>Inserisci Id del contesto</h4>
            <input type="text" class="form-control" [(ngModel)]="id" maxlength="10" />
        </div>
        <div style="text-align:center">
            <button (click)="showContext()">
                <i class="fas fa-edit"></i> Mostra Contesto
            </button>
        </div>
    </div>
</div>

<div *ngIf="submitted">
    <div class="list row">
        <div class="col-md-6">
            <h4>Riepilogo Contesto</h4>

            <table class="table table-sm">
                <tr>
                    <th style="width: 15%">Id</th>
                    <th style="width: 25%">Major</th>
                    <th style="width: 25%">Minor</th>
                    <th style="width: 55%">Nome punto</th>
                    <th style="width: 55%">Descrizione Punto</th>
                    <th style="width: 25%">Nome Area</th>
                    <th style="width: 25%">Nome Teatro</th>
                    <th style="width: 25%">Nome Località</th>
                </tr>
                <tr *ngFor="let context of stringObject; let i = index">
                    <td>
                        {{ context.idBeacon }}
                    </td>
                    <td>
                        {{ context.MAJOR }}
                    </td>
                    <td>
                        {{ context.MINOR }}
                    </td>
                    <td>
                        {{ context.puntidiinteresse.NomePunto }}
                    </td>
                    <td>
                        {{ context.puntidiinteresse.DescrizionePunto }}
                    </td>
                    <td>
                        {{ context.puntidiinteresse.aree.NomeArea }}
                    </td>
                    <td>
                        {{ context.puntidiinteresse.aree.teatri.NomeTeatro }}
                    </td>
                    <td>
                        {{ context.puntidiinteresse.aree.teatri.localita.NomeLocalita }}
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>