<div>
    <div class="submit-form">
         <div class="form-group">
            <h4>Inserisci Id del contesto</h4>
<!--            <input type="text" class="form-control" [(ngModel)]="id" maxlength="10" />
        </div> -->

        <select class="form-select" aria-label="select"  [(ngModel)]="id">
            <option *ngFor="let a of array" value='{{a.idBeacon}}'>
                {{ a.idBeacon }}
                - UID: {{ a.UID }} MAJOR: {{ a.MAJOR }} MINOR: {{ a.MINOR }}
            </option>  
        </select> 
      
        <div style="text-align:center">
            <button (click)="showContext()">
                <i class="fas fa-edit"></i> Mostra Contesto
            </button>
        </div>
    </div>
</div>

<div *ngIf="submitted">
    <div class="list row">
        <div class="col">
            <h4>Riepilogo Contesto</h4>

            <table class="table table-sm">
                <tr>
                    <th style="width: 12%">Id</th>
                    <th style="width: 12%">Major</th>
                    <th style="width: 12%">Minor</th>
                    <th style="width: 12%">Nome punto</th>
                    <th style="width: 12%">Descrizione Punto</th>
                    <th style="width: 12%">Nome Area</th>
                    <th style="width: 12%">Nome Teatro</th>
                    <th style="width: 12%">Nome Località</th>
                </tr>
                <tr *ngFor="let context of stringObject; let i = index">
                    <td>
                        {{ context.idBeacon }}
                    </td>
                    <td>
                        {{ context.MAJOR }}
                    </td>
                    <td>
                        {{ context.MINOR }}
                    </td>
                    <td>
                        {{ context.puntidiinteresse.NomePunto }}
                    </td>
                    <td>
                        {{ context.puntidiinteresse.DescrizionePunto }}
                    </td>
                    <td>
                        {{ context.puntidiinteresse.aree.NomeArea }}
                    </td>
                    <td>
                        {{ context.puntidiinteresse.aree.teatri.NomeTeatro }}
                    </td>
                    <td>
                        {{ context.puntidiinteresse.aree.teatri.localita.NomeLocalita }}
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>