<div class="list row">    
    <div class="col-md-6">
      <h4>Riepilogo località</h4>
       
      
      <table class="table table-sm">
        <tr>
          <th style="width: 15%">Id</th>
          <th style="width: 45%">Nome località</th>
          
          <th colspan="2">Azioni</th> 
        </tr>
        <tr *ngFor="let locality of localities; let i = index">
          <td>
            {{ locality.idLocalita }} 
          </td>
          <td> 
            {{ locality.NomeLocalita }}
          </td>

          <td> 
            <button type="button" class="btn btn-outline-primary"(click)="edit(locality)">Modifica</button>
          </td>
          <td> 
            
            <button type="button" class="btn btn-outline-danger" (click)="deletebyId(locality)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </table>
          
    
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllLocalities()">
        Rimuovi tutti!
      </button>
    </div>
  
  
   <div class="modal-body">
        <app-locality-edit [locality]="locality" *ngIf="activateEditLocality">
      
        </app-locality-edit> 
  
      </div> 
      <button  class="btn btn-outline-success" *ngIf="activateEditLocality" (click)=close()>Aggiorna</button>
  
  
  </div>
